@font-face {
  font-family: "NIGHTMARE PILLS";
  src: local("NIGHTMARE PILLS"),
    url(./fonts/NightmarePills-BV2w.ttf) format("truetype");
}

@font-face {
  font-family: "wizard";
  src: local("wizard"), url(./fonts/DjbImNoWizard-0r2P.ttf) format("truetype");
}

.spellbook-wrapper {
  perspective: 2400px;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 60vh;
  cursor: pointer;
  backface-visibility: visible;
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 40vh;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left center;
  transition: transform 1s ease-in-out, box-shadow 0.65s ease-in-out;
}

.front,
.page1,
.page3,
.page5 {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.back,
.page2,
.page4,
.page6 {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.page1 {
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.book-open .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book-open .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book-open .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book-open .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book-open .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book-open .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book-open .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book-open .back {
  transform: rotateY(-20deg) scale(1.1);
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
  background: url("./page.png");
}

.front,
.back {
  background: url("./book-cover.png");
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

section {
  width: 100%;
}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page6 h1 {
  font-family: wizard;
  font-size: 1.5vh;
}

.page6 p {
  margin: 0;
  text-align: left;
  padding-left: 10vh;
  font-weight: 600;
}

.page6 span {
  text-transform: uppercase;
  font-size: 1.8vh;
}

.page6 h1 {
  font-size: 3vh;
  margin: 0;
}

.front h1 {
  font-size: 6vh;
  width: 20vh;
  padding: 1rem;
  display: block;
  background: linear-gradient(315deg, #03eb16 0%, #1865f3 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.page6 h1,
footer {
  text-align: center;
}

.front h1 {
  animation-name: textGlow;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

.page6 h1,
.page6 p,
footer {
  animation-name: fireFlicker;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes fireFlicker {
  0% {
    background: linear-gradient(315deg, #a40606 0%, #b63d05 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(100deg, #d94824 0%, #a40606 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(50deg, #a40606 0%, #c52a03 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes textGlow {
  0% {
    background: linear-gradient(315deg, #3aaa06 0%, #4ac205 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(315deg, #21b913 0%, #3cb404 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(315deg, #9ae975 0%, #169b33 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.page6 section {
  transform-origin: center bottom;
  animation-name: flicker1;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flicker1 {
  0% {
    transform: rotate(-0.2deg);
  }
  20% {
    transform: rotate(0.2deg) scaleY(1.01);
  }
  40% {
    transform: rotate(-0.2deg);
  }
  60% {
    transform: rotate(0.2deg) scaleY(1.01);
  }
  80% {
    transform: rotate(-0.5deg) scaleY(0.98);
  }
  100% {
    transform: rotate(0.2deg);
  }
}
