.flex-center,
.btn-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin-bottom: 5%;
}

.info-box {
  padding: 1rem;
  border-radius: 5px;
  width: 30vh;
  box-shadow: 5px 5px 5px grey;
  margin: 0 1rem;
  border: lightgray 1px solid;
  background: white;
}

.info-box__header {
  color: white;
  font-size: 4vh;
  text-align: center;
}

.info-box span {
  text-transform: uppercase;
  font-weight: 600;
}

.hidden {
  display: none;
}

.btn-box {
  flex-direction: row;
}

.Slider-main {
  background-image: url("./texture-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
